@{
    ViewBag.Title = "Home Page";
}

<h2>This is the home page</h2>

    @section Scripts{
        <script src="~/Scripts/App/MusicScripts.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>}